.slide__name {
  margin: 0;
  height: min-content;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #1A1B22;
}

@media screen and (min-width: 600px) {
  .slide__name {
    font-size: 26px;
  }
}
