@import url('./__wrapper/swiper-wrapper.css');
@import url('./__pagination/swiper-pagination.css');
@import url('./__button/swiper-button.css');

.swiper-container {
  display: none;
  position: relative;
  width: 100%;
  min-height: 344px;
  overflow: visible;
}

.swiper-container::before {
  content: '';
  display: none;
  position: absolute;
  height: 344px;
  width: 105px;
  background: linear-gradient(-90deg, rgba(245, 246, 247, 0) 0%, #F5F6F7 100%);
  left: -105px;
  top: 0;
  z-index: 2;
}

.swiper-container::after {
  content: '';
  display: none;
  position: absolute;
  height: 344px;
  width: 105px;
  background: linear-gradient(90deg, rgba(245, 246, 247, 0) 0%, #F5F6F7 100%);
  right: -105px;
  top: 0;
  z-index: 1;
}

@media screen and (min-width: 800px) {
  .swiper-container::before {
    display: block;
  }

  .swiper-container::after {
    display: block;
  }
}
