.slide__email {
  height: min-content;
  margin: 0;

  font-family: Roboto, Arial, Helvetica, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #1A1B22;
}
