.result__title {
  margin: 0 auto 16px 0;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
}

@media screen and (min-width: 700px) {
  .result__title {
    margin: 0 auto 64px 0;
    font-size: 40px;
    line-height: 46px;
  }
}
