.card__image {
  min-height: 100%;
  position: absolute;
  height: inherit;
  width: inherit;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  font-family: Roboto, Arial, Helvetica, sans-serif;;
  line-height: 200px;
  text-align: center;
  overflow-wrap: normal;
  font-size: 15px;
  color: #B6BCBF;
}

.card__image-ratio {
  margin: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 68%;
}

@media screen and (min-width: 500px) {
  .card__image {
    line-height: 155px;
  }
}


@media screen and (min-width: 750px) {
  .card__image {
    font-size: 15px;
  }
}

@media screen and (min-width: 1100px) {
  .card__image {
    font-size: 20px;
    line-height: 265px;
  }
}
