@import url('../blocks/author-about/author-about.css');
@import url('../blocks/about/info/info.css');
@import url('../blocks/about/github/github.css');
@import url('../blocks/about/tech/tech.css');
@import url('../blocks/footer/footer.css');
@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../blocks/link/link.css');
@import url('../blocks/header/header.css');

body {
  background-color: #fff;
  max-width: 1440px;
  margin: 0px auto 0px auto;
}

.root {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 425px) {
  .root {
    padding: 0 7.29%;
  }
}
