.footer__container_first {
  margin-top: 8px;
  flex-direction: column;
}

@media screen and (min-width: 700px) {
  .footer__container_first {
    width: 55%;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: row;
  }
}

@media screen and (min-width: 1000px) {
  .footer__container_first {
    width: 45%;
  }
}
