.search__subtitle {
  margin: 0 0 64px 0;

  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}

@media screen and (min-width: 666px) {
  .search__subtitle {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 900px) {
  .search__subtitle {
    margin: 0 50px 64px 0;

    font-size: 18px;
    line-height: 24px;
  }
}
